* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.05rem;
    font-size: 20px;
}

.bold {
    font-weight: 700;

}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    align-items: center;

}

body {
    background: #FAF9F6;
    width: 700px;
    margin: 0 auto;
}

h2 {
    font-size: 25px;
}


.about {
    line-height: 1.6;
}

.name {
    font-size: 40px;
    color: black;
}

.reading {
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}


.book {
    text-align: center;
}

.book img {
    width: 120px;
}

.book-title {
    text-align: center;
    margin-top: 8px;
}